<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	</head>
	
	<body>
		<header id="header-principal" th:fragment="header">
			<img src="/images/header.jpg" class="img-ajuste">
		</header>
		
		<script th:href="@{/webjars/jquery/jquery.min.js}" type="text/javascript"></script>
		<script th:href="@{/webjars/popper.js/umd/popper.min.js}" type="text/javascript"></script>
		<script th:href="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
	</body>
</html>